/* MAIN WRAPPER */
.admin-orders {
  padding: 30px;
  background: #f8f9fb;
  min-height: 100vh;
}

/* TITLE */
.orders-page-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #1e1e1e;
}

/* ORDERS CONTAINER */
.orders-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ORDER CARD */
.order-card {
  background: #fff;
  width: 900px;
  max-width: 100%;
  padding: 20px 24px;
  border-radius: 18px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
  margin-bottom: 4px;
  transition: 0.2s ease;
}

.order-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.08);
}

/* HEADER */
.order-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.restaurant-name {
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

.order-price {
  color: #ff7a00;
  font-size: 17px;
  font-weight: 600;
}

/* BODY */
.order-body p {
  margin-bottom: 6px;
  color: #333;
}

.order-items {
  opacity: 0.75;
  margin-left: 15px;
  margin-top: 5px;
}

.order-items li {
  font-size: 14px;
  line-height: 1.6;
}


/* Status */
.status-badge {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
}

/* STATUS COLORS */
.status-badge.delivered {
  background-color: #28c76f;
}

.status-badge.delivering {
  background-color: #ff9f43; 
}

.status-badge.delivered{
  background-color: #ea5455; 
}


/* FOOTER */
.order-footer {
  display: flex;
  justify-content: flex-end;  /* sağa yasla */
}

.order-actions {
  display: flex;
  flex-direction: column;    
  align-items: flex-end;     
  gap: 10px;                
}

.order-actions .order-price {
  font-size: 18px;
  font-weight: 700;
  color: #ff7a00;
}

