.cart-sidebar {
  position: fixed;
  top: 0;
  right: -350px;  /*ilk gizli olacak*/
  width: 350px;
  height: 100vh;
  background: white;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 1000;
}

.cart-sidebar.open {
  right: 0; /*açılınca sağda olacak*/
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-close-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.cart-items {
  margin-top: 20px;
}
