#home-page-wrapper{
  display: flex;
  flex-direction: column;
 
}

.restaurant-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.restaurant-card {
  background: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  padding: 0px;
}

.home-page {
  padding: 20px 40px;
}

.kitchen-section,
.restaurant-section {
  margin-top: 30px;
}

.restaurant-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px 0;
}

