.restaurant-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease;
}

.restaurant-card:hover {
  transform: translateY(-5px);
  border: 2px solid #f58803;
}


.restaurant-card img {
  width: 100%;
  height: 160px;
  object-fit: cover; 
  display: block;
}


.restaurant-card h3 {
  margin-top: 10px;
  font-size: 1.1rem;
  color: #333;
}

.restaurant-card p {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 8px;
}


.view-btn {
  background-color: #f58803;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 8px 16px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background 0.2s;
}

.view-btn:hover {
  background-color: #ff5100;
}
