/* POPUP OVERLAY */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

/* POPUP BOX */
.popup-box {
  background: #fff;
  width: 420px;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  animation: popupFade 0.25s ease;
}

@keyframes popupFade {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.popup-box h3 {
  margin-bottom: 18px;
  font-size: 22px;
  font-weight: 600;
}

/* FORM INPUTS */
.popup-box input[type="text"],
.popup-box input[type="file"] {
  width: 100%;
  padding: 10px 14px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  font-size: 12px;
}

.submit-btn {
  background: #10b981;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 14px;
  width: 100%;
  padding: 10px;
}



.close-btn {
  background: #2c2e2d;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 14px;
  width: 100%;
  padding: 10px;
}