* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
  color: #333;
}

a {
  text-decoration: none;
  color: black;
}


html, body, #root {
  height: 100%;
  margin: 0;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.layout-content {
  flex: 1; /* içerik boş olsa bile footer aşağıda kalır */
}

